<!--引入头部内容-->
{include file="../Pub/_head.html"}

    <!--content start-->
    <div id="content">
         <!--left-->
        <div class="left" id="news">
          <div class="weizi">
            <div class="wz_text">当前位置：
              <a href="./">首页</a>>
              <a href="/index.php?p=home&c=blog&a=showlist&cate_id={$bloginfo.cate_id}">{$bloginfo.cate_name}</a>
              &gt;
              <span>文章内容</span>
            </div>
          </div>
          <div class="news_content">


            <div class="news_top">
              <h1>{$bloginfo.blog_title}</h1>
              <p>
                <span class="left sj">时间：{$bloginfo.add_time|date_format:"%Y-%m-%d %H:%M:%S"}</span>
                <span class="left fl">分类：{$bloginfo.cate_name}</span>
                <span class="left author">user1</span>
              </p>
              <div class="clear"></div>
            </div>
            <div class="news_text">
              <!--内容区start-->
              <pre class='content-pre'>
              {$bloginfo.blog_content}
              </pre>              
              <br /><br />
              <p align="center"><a href='javascript:history.back()'>返回</a></p>
              <!--内容区end-->
            </div>

            <form action='/feedback-7.html' method="post" >
              <textarea name="feedback" rows="5" style="width:100%"></textarea>
              <div>
                <input type="submit" value=" 发布评论 " />
              </div>
              <br />
              <p align="center"><a href='javascript:history.back()'>返回</a></p>
            </form>
            <div class="comments">
            
<div class='comment_one'><b>user1</b> 在 <i>2016-08-13 20:16:05</i> 说：<br /><pre class='content-pre'>艾丝凡打死</pre></div>

<div class='comment_one'><b>user1</b> 在 <i>2016-08-13 20:16:51</i> 说：<br /><pre class='content-pre'>这是第二个评论</pre></div>

<div class='comment_one'><b>匿名用户</b> 在 <i>2016-08-13 20:36:48</i> 说：<br /><pre class='content-pre'>第3个评论，
而且这是第2行，
测试换行（第3行）</pre></div>

<div class='comment_one'><b>匿名用户</b> 在 <i>2016-08-13 20:56:36</i> 说：<br /><pre class='content-pre'>代码 [html] view plain copy print?在CODE上查看代码片派生到我的代码片无标题文档代码 [html] view plain copy print?在CODE上查看代码片派生到我的代码片无标题文档</pre></div>

<div class='comment_one'><b>匿名用户</b> 在 <i>2016-08-13 21:06:38</i> 说：<br /><pre class='content-pre'>代码 [html] view plain copy print?在CODE上查看代码片派生到我的代码片无标题文档代码 [html] view plain copy print?在CODE上查看代码片派生到我的代码片无标题文档

代码 [html] view plain copy print?在CODE上查看代码片派生到我的代码片无标题文档代码 [html] view plain copy print?在CODE上查看代码片派生到我的代码片无标题文档</pre></div>

<div class='comment_one'><b>user1</b> 在 <i>2016-08-16 22:35:08</i> 说：<br /><pre class='content-pre'>asfasfasdf</pre></div>

<div class='comment_one'><b>user1</b> 在 <i>2016-08-16 22:35:48</i> 说：<br /><pre class='content-pre'>gwgw</pre></div>

<div class='comment_one'><b>user1</b> 在 <i>2016-08-16 22:35:54</i> 说：<br /><pre class='content-pre'>333</pre></div>

<div class='comment_one'><b>user1</b> 在 <i>2016-08-16 22:36:28</i> 说：<br /><pre class='content-pre'>444</pre></div>

<div class='comment_one'><b>user1</b> 在 <i>2016-08-16 22:37:12</i> 说：<br /><pre class='content-pre'>5555</pre></div>

<div class='comment_one'><b>user1</b> 在 <i>2016-08-16 22:37:27</i> 说：<br /><pre class='content-pre'>ggwgwg</pre></div>
            </div>
          </div>
        </div>
         <!--left end-->

          
 <!--引入右部内容-->
{include file="../Pub/_right.html"}

         <div class="clear"></div>
    </div>
    <!--content end-->

    <!--版权信息-->
    

<!--引入右部内容-->
{include file="../Pub/_foot.html"}