<!--引入头部内容-->
{include file="../Pub/_head.html"}

    <!--content start-->
    <div id="content">
         <!--left-->
         <div class="left" id="c_left">
           <div class="s_tuijian">
           <h2>最新<span>文章</span></h2>
           </div>
          <div class="content_text">
                    
<!--引入博文列表内容页-->
{include file="../Pub/_bloglist.html"}
                             
           </div>
         </div>
         <!--left end-->

<!--引入右部内容-->
{include file="../Pub/_right.html"}

         <div class="clear"></div>
    </div>
    <!--content end-->

    <!--版权信息-->

    
<!--引入右部内容-->
{include file="../Pub/_foot.html"}
