<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="{$smarty.const.CSS_URL}style.css"/>
<link rel="stylesheet" href="{$smarty.const.CSS_URL}index.css"/>

<script type="text/javascript" src="{$smarty.const.JS_URL}jquery1.42.min.js"></script>
<script type="text/javascript" src="{$smarty.const.JS_URL}jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]>
<script src="{$smarty.const.JS_URL}html5.js"></script>
<![endif]-->
</head>
<body>
    <!--页头信息-->
        <!--header start-->
    {literal}
    <style type="text/css">
    #header h1{float:left;}
    #header #login_register{float:right;color:rgb(80,111,112);}
    #header .blog_sub_title{clear:both;}
    </style>
    {/literal}
    <div id="header">
      <h1>个人博客</h1>

      {if !empty($smarty.session.user_name)}
      <p id="login_register">
        <span>欢迎您 {$smarty.session.user_name}</span>
        &nbsp;&nbsp;
        <span><a href="/index.php?p=home&c=user&a=logout">退出</a></span>
      </p>
      {else}
      <p id="login_register">
        <span><a href="/index.php?p=home&c=user&a=login">登录</a></span>
        &nbsp;&nbsp;
        <span><a href="/index.php?p=home&c=user&a=register">注册</a></span>
      </p>
      {/if}


      <p class="blog_sub_title"><img src='{$smarty.const.IMG_URL}itcast_shiming_2.gif' /></p> 
    </div>
    
     <!--header end-->
    <!--nav-->
     <div id="nav">
        <table width="100%">
          <tr>
            <th><a
              {if CONTROLLER_NAME eq 'Index' and ACTION_NAME eq 'index'} id='nava' {/if}
             href="/index.php" style="color:red;">首页</a></th>
              {foreach $cateinfo as $k=>$v}
                <th><a 
                {if CONTROLLER_NAME eq 'Blog' and ACTION_NAME eq 'showlist' and      $smarty.get.cate_id eq $v.cate_id} id='nava' {/if}
                href="/index.php?p=home&c=blog&a=showlist&cate_id={$v.cate_id}">{$v.cate_name}</a></th>
              {/foreach}
          </tr>
        </table>
      </div>
       <!--nav end-->