       <!--right-->
        <div class="right" id="c_right">

          <div class="s_about">
            <h2>关于博主</h2>
             <img src="{$smarty.const.IMG_URL}my2.jpg" width="230" alt="博主"/>
             <p>博主：XX</p>
             <p>职业：web前端、视觉设计</p>
             <p>简介：</p>
             <p>
             青春是打开了，就合不上的书；
             人生是踏上了，就回不去的路；
             爱情是扔出了，就收不回的赌注。
             </p>
          </div>
          <!--栏目分类-->
           <div class="lanmubox">
              <div class="hd">
               <ul><li>精心推荐</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>
              </div>
              <div class="bd">
                <ul>
                  <li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
                  <li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
                  <li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
                  <li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
                  <li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
                </ul>
                 <ul>
                  <li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
                  <li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
                  <li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
                  <li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
                  <li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
                </ul>
                 <ul>
                  <li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
                  <li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
                  <li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
                  <li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
                  <li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
                </ul>
                 
                
              </div>
           </div>
           <!--栏目分类 end-->

           <div class="link">
            <h2>友情链接</h2>
            <p><a href="http://www.itcast.cn">传智播客</a></p>
            <p><a href="http://www.itheima.com">黑马程序员</a></p>
           </div>
         </div>
         <!--right end-->